{% extends "user/base.html" %}
{% block content %}

<link rel="stylesheet" href="{{url_for('static',filename='css/user/form.css')}}">

<div class="parentcenter">
    <h1 style="text-align: center; margin: 10px;">Become creator, and upload your songs.</h1>
    <form class="form" action="/get_creator_role" method="post">
        <div class="inputCheck"><input type="checkbox" required><label>I agree to all conditions and want to become a creator.</label></div>
        <input type="submit" value="Get creator role">
    </form>
</div>

{% endblock %}