{% extends "user/base.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='css/creator/songs.css')}}">
<script>
    function popmenu(id) {
        var element = document.getElementById(id);
        element.style.visibility = 'visible';
    }
    function hidemenu(id) {
        var element = document.getElementById(id);
        element.style.visibility = 'hidden';
    }
</script>
<div class="heading">
    <h2>Add song to playlist, '{{playlist.title}}'</h2>
    <div style="display: flex; gap: 10px; align-items: center;">
        <a style="padding: 6px; background-color: red; color: white; text-decoration: none;" href="/playlists/{{playlist.id}}">Cancel</a>
        <div onclick="popmenu('filter-form')" style="padding: 10px; border: 1px solid grey; cursor: pointer; background-color: #efefef;"><strong>Apply filter</strong></div>        
    </div>

</div>
<link rel="stylesheet" href="{{url_for('static',filename='css/creator/form.css')}}">
<form class="form" id="filter-form" action="/playlists/{{playlist.id}}/add/songs" method="post">
    <div class="filter-heading"><h2>Filters to apply on song</h2><div onclick="hidemenu('filter-form')" style="padding: 10px; border: 1px solid grey; cursor: pointer; background-color: #efefef;"><strong>Close filter X</strong></div></div>
        <input class="text" type="text" name="song" placeholder="Song name">
        <input class="text" type="text" name="artist" placeholder="Artist name">
        <select name="language" id="language">
            <option value="" selected disabled hidden>Select language</option>
            <option value="none">No language</option>
            <option value="english">English</option>
            <option value="hindi">Hindi</option>
            <option value="kannada">Kannada</option>
            <option value="malayalam">Malayalam</option>
            <option value="tamil">Tamil</option>
            <option value="telugu">Telugu</option>
            <option value="urdu">Urdu</option>
            <option value="foreign">Rest-Foreign</option>
        </select>
        <select name="genre" id="genre">
            <option value="" selected disabled hidden>Select genre</option>
            <option value="classical">Classical</option>
            <option value="devotional">Devotional</option>
            <option value="dj">DJ</option>
            <option value="folk">Folk</option>
            <option value="item">Item</option>
            <option value="love">Love</option>
            <option value="motivational">Motivational</option>
            <option value="music">Music</option>
            <option value="patriotic">Patriotic</option>
            <option value="ringtone">Ringtone</option>
            <option value="romantic">Romantic</option>
            <option value="sad">Sad</option>
        </select>
        <select name="sortby" id="sort">
            <option value="" selected disabled hidden>Sort by</option>
            <option value="new">Newest</option>
            <option value="old">Oldest</option>
            <option value="rating_high">Ratings high</option>
            <option value="rating_low">Ratings low</option>
            <option value="alphabetical">Alphabetical</option>
        </select>
        <input type="submit" value="Apply filter">
</form>

<div class="songs-container">
    <h2>{% if filter %}Results for filter{% else %}Songs to add{% endif %}</h2>
    {% if songs.items %}
        {% for song in songs %}
        <a class="song normal" href="/songs/{{song.id}}">
            {% if song.cover %}
            <img class="song-cover" src="{{url_for('static',filename='uploads/images/song_covers/')}}{{song.cover}}">
            {% else %}
            <svg version="1.1" id="Uploaded to svgrepo.com" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
            width="60px" height="60px" viewBox="0 0 32 32" xml:space="preserve">
            <style type="text/css">
                .linesandangles_een{fill:#111918;}
            </style>
            <path class="linesandangles_een" d="M26,3.674L10,8.246v13.933c-0.383-0.135-0.797-0.215-1.231-0.215
                c-0.342,0-0.693,0.045-1.045,0.139c-1.867,0.5-3.033,2.203-2.604,3.804c0.348,1.299,1.639,2.131,3.112,2.131
                c0.342,0,0.693-0.045,1.045-0.139C10.792,27.492,11.886,26.292,12,25l0,0V13.754l12-3.429v7.853
                c-0.383-0.135-0.797-0.215-1.231-0.215c-0.342,0-0.693,0.045-1.045,0.139c-1.867,0.5-3.033,2.203-2.604,3.804
                c0.348,1.299,1.639,2.131,3.112,2.131c0.342,0,0.693-0.045,1.045-0.139C24.792,23.492,25.886,22.292,26,21l0,0V3.674z M9.789,25.279
                c-0.219,0.32-0.595,0.571-1.031,0.687c-0.176,0.047-0.353,0.071-0.528,0.071c-0.583,0-1.079-0.273-1.18-0.649
                c-0.069-0.258,0.049-0.505,0.16-0.667c0.219-0.32,0.595-0.571,1.031-0.687c0.176-0.047,0.353-0.071,0.528-0.071
                c0.583,0,1.079,0.273,1.18,0.649C10.018,24.869,9.9,25.117,9.789,25.279z M12,11.674v-1.92l12-3.429v1.92L12,11.674z M23.789,21.279
                c-0.219,0.32-0.595,0.571-1.031,0.687c-0.176,0.047-0.353,0.071-0.528,0.071c-0.583,0-1.079-0.273-1.18-0.649
                c-0.069-0.258,0.049-0.505,0.16-0.667c0.219-0.32,0.595-0.571,1.031-0.687c0.176-0.047,0.353-0.071,0.528-0.071
                c0.583,0,1.079,0.273,1.18,0.649C24.018,20.869,23.9,21.117,23.789,21.279z"/>
            </svg>
            {% endif %}
            <div class="song-details">
                <div class="row1">
                    <h2>{{song.title}}</h2>
                    {% if song not in playlist.songs %}
                        <form action="/playlists/{{playlist.id}}/add/songs/{{song.id}}" method="post"><button style="padding: 5px;" class="button">Add song</button></form> 
                    {% else %}
                        <form action="/playlists/{{playlist.id}}/remove/songs/{{song.id}}?from=page" method="post"><button style="padding: 5px;" class="button">Remove song</button></form> 
                    {% endif %}
                </div>
                <div class="row2">
                    <h4>Duration: {{song.duration}}</h4>
                    <h4>Views: {{song.play_count}}</h4>
                    <h4>Rating: {{song.rating}}</h4>
                    <h4>Artist: {% if song.artist %} {{song.artist}} {% else %} -NA- {% endif %}</h4>
                    <h4>Language: {{song.language}}</h4>
                    <h4>Genre: {{song.genre}}</h4>
                </div>
            </div>
        </a>
        {% endfor %}
        {% if songs.has_next %}
            <div class="paginate" style="display: flex; align-items: center; justify-content: center;"><a style="padding: 6px; background-color: black; color: white;" class="normal" href="/playlists/{{playlist.id}}/add/songs?view={{view}}"><strong>-View more-</strong></a></div>
        {% else %}
            <div class="paginate" style="display: flex; align-items: center; justify-content: center;"><h2>--The End--</h2></div>
        {% endif %}
    {% else %}
        {% if not filter %}
            <h2>No songs uploaded yet, please wait.</h2>
        {% else %}
            <h2>No songs matching applied filter...</h2>
        {% endif %}
    {% endif %}
</div>

{% endblock %}