{% extends "user/base.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='css/user/form.css')}}">
<div class="parentcenter">
    <form class="form" action="/profile" method="post" enctype="multipart/form-data">
        <div class="inputText">
            <input class="text" type="text" id="first_name" name="f_name" value="{{current_user.f_name}}">
            <label class="box-ph" for="first_name">First name</label>
        </div>
        <div class="inputText">
            <input class="text" type="text" id="last_name" name="l_name" value="{{current_user.l_name}}">
            <label class="box-ph" for="last_name">Last name</label>
        </div>
        <div class="inputFile" style="margin-top: 10px;">
            <input class="file" type="file" accept=".jpg, .jpeg, .png" name="dp" placeholder=" " >
            <label class="file-ph">Change profile pic</label>
        </div>
        <div class="inputCheck" >
            <input type="checkbox" id="delete_profile_pic" name="delete_dp">
            <label style="position: inherit; border-radius: none;" for="delete_profile_pic">Remove profile pic completely.</label>        
        </div>
        <input type="submit">
    </form>
</div>
{% endblock %}