{% extends "creator/base.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='css/creator/form.css')}}">
<h1 style="text-align: center; margin: 10px;">Album update form</h1>
<form class="form" enctype="multipart/form-data" action="/creator/albums/{{album.id}}/update" method="post">
    <h4 style="color: red; text-align: end;">Fields marked with * are mandatory</h4>
    <div class="inputText">
        <input type="text" class="text" id="title" name="title" required placeholder=" " value="{{album.title}}">
        <label for="title" class="box-ph">Album title *</label>
    </div>
    <div class="inputFile">
        <input type="file" class="file" id="cover" name="cover" accept=".jpeg, .jpg, .png">
        <label for="cover" class="file-ph">Select cover image</label>
    </div>
    <div class="inputCheck">
        <input type="checkbox" class="check" id="cover-delete" name="cover-delete">
        <label for="cover-delete" class="check-ph">Delete cover image</label>
    </div>
    <div class="inputText">
        <input type="text" class="text" id="artist" name="artist" placeholder=" " value="{{album.artist}}">
        <label for="artist" class="box-ph">Album artist</label>
    </div>
    <input type="submit" value="Submit">
</form>
{% endblock %}