{% extends "admin/base.html" %}
{% block content %}

<style>
.heading div:nth-child(1) {
    padding: 6px; height: 40px; align-items: center;
    display: flex; justify-content: space-between; 
}
.main-body {
    min-height: calc(100% - 40px);
    padding: 20px 30px;
    background-color: rgb(159, 146, 146);
    display: flex; flex-direction: column; gap: 30px;
}
table {
    width: 100%; margin-top: 10px;
}
td {
    padding-left: 3px;
}
table, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.action {
    display: flex; justify-content: space-evenly;
}
.button {
    padding: 6px; background-color: red; color: white;
    text-align: center; text-decoration: none; user-select: none; border-radius: 9px;
}
</style>

<div class="heading">
    <div>
        <h1>Users in blacklist</h1>
        <a class="button" href="/admin/blacklist">Blacklist creator</a>
    </div>
</div>

<div class="main-body">
        {% if creators %}
        <table>
            <tr>
                <td class="serialno" style="text-align: center;">Sl. no.</td>
                <td class="userid" style="text-align: center;">User id</td>
                <td style="text-align: center;">User role</td>
                <td class="songs_count" style="text-align: center;">No of songs</td>
                <td class="albums_count" style="text-align: center;">No of albums</td>
                <td class="status" style="text-align: center;">Status</td>
                <td class="action" style="text-align: center;">Action to take</td>
            </tr>
            {% for creatorz in creators %}
                {% set creator = creatorz.user %}
                <tr {% if loop.index%2!=0 %} style="background-color: white;" {% else %} style="background-color: rgb(206, 206, 206);" {% endif %}>
                    <td class="serialno" >1</td>
                    <td class="itemid"   >{{creator.id}}</td>
                    <td>{{creator.role}}</td>
                    <td class="type"     >{{ creator.songs | length }}</td>
                    <td class="title"    >{{ creator.albums | length }}</td>
                    <td class="status"   >{% if creator.blacklist %}Blacklisted{% else %}Not Blacklisted{% endif %}</td>
                    <td class="action"   >{% if creator.blacklist %} <a class="button" href="/admin/blacklist/remove?user_id={{creator.id}}">Remove from blacklist</a> {% else %} <a class="button" href="/admin/blacklist/add?user_id={{creator.id}}">Add to blacklist</a> {% endif %}</td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
            <h3 style="padding-left: 10px;">No users flagged yet.</h3>
        {% endif %}
</div>
   
{% endblock %}