* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}
a.normal {
    text-decoration: none;
    color: black;
}
.disable-select {
    user-select: none;
}

/* header */
header .logo-main {
    width: 50px;
}
header {
    position: fixed;
    left: 0; top: 0; right: 0;
    height: 50px; width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    z-index: 2;
}
header .logo-container {
    display: flex;
    align-items: center;
}
header .sign-in {
    background-color: red;
    color: white;
    width: 60; border-radius: 9px;
    margin: 12px;
    display: flex; justify-content: center; align-items: center;
}

/* main */
main {
    display: flex;
    flex-direction: column;
    height: calc(100% - 50px);
    text-align: center;
}
main .content-main {
    position: fixed;
    left: 0; right: 0;
    padding: 0 25px;
    z-index: 1;
    margin-top: 15%;

}
main .content-img {
    position: fixed;
    left: 0; right: 0;
    opacity: 0.2;
    height: calc(100% - 50px);
    background-image: url('https://img.freepik.com/free-vector/musical-pentagram-sound-waves-notes-background_1017-33911.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
main .form {
    padding: 10px;
}
main .form .form-email {
    width: 200px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    padding-left: 10px;
}
main .form .form-submit {
    width: 80px; height: 30px;
    background-color: red; color: white;
    display: inline-flex; align-items: center;
    padding-left: 10px;
    border: 1px solid green;
    border-radius: 3px;
    cursor: pointer;
}

input.form-email:valid:not(:placeholder-shown) {
    border: 2px solid green;
    border-radius: 3px;
  }