{% extends "user/base.html" %}
{% block content %}

<style>
    .heading {
        display: flex; align-items: center; justify-content: space-between;
        padding: 0 10px;
    }
    .home-container {
        display: grid; 
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        background-color: rosybrown;
        height: 100%; width: 100%;
    }
    .row-container {
        height: auto; width: 100%;
        background-color: white;
        padding-top: 5px;
    }
    .square-container {
        display: grid; gap: 5px;
        grid-template-columns: repeat(auto-fill, 200px);
        grid-template-rows: 210px;
        background-color: rgb(142, 2, 2);
        padding: 10px;
    }
    .square {
        width: 200px; height: 210px;
        background-color: rgb(248, 213, 213);
        display: flex; flex-direction: column; align-items: center;
    }
    .square img {
        width: 160px; height: 160px; object-fit: cover; padding-top: 20px;
    }
</style>

<div class="home-container">
    <div class="row-container">
        <div class="heading"><h1>{{current_user.f_name}}, continue listening from where you left</h1><a style=" width: 100px; padding: 6px; background-color: red; color: white;" class="normal" href="/history">View history</a></div>
        {% if current_user.played %}
        <div class="played square-container">
            {% for play in current_user.played[-9:][::-1] %}
                <a href="/songs/{{play.song.id}}" class="square normal">
                    <img src="{% if play.song.cover %}{{url_for('static',filename='uploads/images/song_covers/')}}{{play.song.cover}}{% else %}{{url_for('static',filename='images/default_song.png')}}{% endif %}">
                    <div><h2>{{play.song.title}}</h2></div>
                </a>
            {% endfor %}
        </div>
        {% else %}
        <h2>Listen some songs!</h2>
        {% endif %}
    </div>
    <div class="row-container">
        <div class="heading"><h1>Your liked songs</h1><a style="width: 100px; padding: 6px; background-color: red; color: white;" class="normal" href="/library/songs">View all</a></div>
        {% if current_user.ratings %}
        <div class="liked square-container">
            {% for rating in current_user.ratings[:9] %}
                <a href="/songs/{{rating.song.id}}" class="square normal">
                    <img src="{% if rating.song.cover %}{{url_for('static',filename='uploads/images/song_covers/')}}{{rating.song.cover}}{% else %}{{url_for('static',filename='images/default_song.png')}}{% endif %}">
                    <div><h2>{{rating.song.title}}</h2></div>
                </a>
            {% endfor %}
        </div>
        {% else %}
        <h2>Like songs to add into library for quick access...</h2>
        {% endif %}
    </div>
</div>


{% endblock %}