{% extends "user/base.html" %}
{% block content %}

{% if current_user.premium %}
<div class="float-middle">
    <h1>You are a premium user!</h1>
    <h3>Download unlimited songs and watch no ads...:-)</h3>
</div>
{% else %}
<div class="float-middle">
    <h1>Get premium and download unlimited songs!</h1>
    <h3>Send 420₹ to upi 944***490*@axl and submit transaction id below.</h3>
    <form>
        <div class="input-main">
            <input type="text" placeholder=" " name="transaction_id">
            <label for="transaction_id">Transaction id</label>
        </div>
        <input type="submit">
    </form>
    <h4>Please contact admin if any issues.</h4>
</div>
{% endif %}

{% endblock %}