{% extends "welcome/base.html" %}
{% block content %}
    <div class="content-main">
        {% if session.get('name') %}
        <h1 style="margin-bottom: 18;">Hey {{session['name']}},<br> welcome back!</h1>
        {% else %}
        <h1 style="margin-bottom: 18;">Hey, welcome back!</h1>
        {% endif %}
        <form class="form" action="/login" method="post">
                <div class="input-main">
                    {% if session.get('name') %}
                    <input class="input" type="email" name="email" placeholder=" " required readonly value="{{session['id']}}">
                    {% else %}
                    <input class="input" type="email" name="email" placeholder=" " required value="{{session['id']}}">
                    {% endif %}
                    <label class="placeholder">Email </label>
                </div>
                <div class="input-main">
                    <input class="input" type="password" name="password" placeholder=" " minlength="8" required id="password">
                    <label class="placeholder">Password *</label>
                </div>
                <button class="submit" type="submit">Log in</button>
        </form>
    </div>
    {% endblock %}