<link rel="stylesheet" href="{{url_for('static',filename='css/welcome/login.css')}}">


<header>
    <a class='logo-container normal disable-select' href="/">
        <img class="logo-main" src="{{url_for('static',filename='images/musica.svg')}}">
        <h1>Musica</h1>
    </a>
    <a class="sign-in normal disable-select" href="/signup">
        <h4>Sign up</h4>
    </a>
</header>

<main>
    <div class="content-img">
    </div>

    <div class="content-main">
        
        <form class="form" action="/login" method="post">
            <h1 style="margin-bottom: 18;">Hey {{session['name']}}, welcome back!</h1>
                <div class="input-main">
                    <input class="input" type="email" name="email" placeholder=" " required readonly value="{{session['id']}}">
                    <label class="placeholder">Email </label>
                </div>
                <div class="input-main">
                    <input class="input" type="password" name="password" placeholder=" " minlength="8" required id="password">
                    <label class="placeholder">Password *</label>
                </div>
                <button class="submit" type="submit">Log in</button>
        </form>
    </div>

    
    <!-- flash-messages -->
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/welcome/flash.css')}}">
    <script src="{{url_for('static',filename='js/flash.js')}}"></script>
    <div class="flash-container">
        {% set flash = namespace(count=0) %}
        {% for message in messages %}
            {% set flash.count = flash.count + 1 %}
            <div class="flash-message {{ message[0] }}" flash-id="{{flash.count}}">
                <h3>{{message[1]}}</h3>
                <div style="cursor: pointer;" onclick="close_flash({{flash.count}})">
                        <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.99486 7.00636C6.60433 7.39689 6.60433 8.03005 6.99486 8.42058L10.58 12.0057L6.99486 15.5909C6.60433 15.9814 6.60433 16.6146 6.99486 17.0051C7.38538 17.3956 8.01855 17.3956 8.40907 17.0051L11.9942 13.4199L15.5794 17.0051C15.9699 17.3956 16.6031 17.3956 16.9936 17.0051C17.3841 16.6146 17.3841 15.9814 16.9936 15.5909L13.4084 12.0057L16.9936 8.42059C17.3841 8.03007 17.3841 7.3969 16.9936 7.00638C16.603 6.61585 15.9699 6.61585 15.5794 7.00638L11.9942 10.5915L8.40907 7.00636C8.01855 6.61584 7.38538 6.61584 6.99486 7.00636Z" fill="#0F0F0F"/>
                        </svg>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</main>