{% extends "welcome/base.html" %}
{% block content %}
    <div class="content-main noSelect">
        <h1 style="margin-bottom: 18;">Fill details to create an account</h1>
        <form class="login-form" action="/signup" method="post">
                <div class="input-main">
                    <input class="input" type="email" name="email" placeholder=" " required value="{{session['id']}}">
                    <label class="placeholder">Email *</label>
                </div>                
                <div class="input-main">
                    <input class="input" type="text" name="f_name" placeholder=" " required>
                    <label class="placeholder">First name *</label>
                </div>
                <div class="input-main">
                    <input class="input" type="text" name="l_name" placeholder=" " >
                    <label class="placeholder">Last name</label>
                </div>
                <div class="input-main">
                    <input class="input" type="password" name="password" placeholder=" " minlength="8" required id="password">
                    <label class="placeholder">Password *</label>
                </div>
                <div class="input-main">
                    <input class="input" type="password" name="confirm" placeholder=" " minlength="8" required id="confirm-password" onfocusout="checkpass()">
                    <label class="placeholder">Re-enter password *</label>
                </div>
                <script>
                    function checkpass () {
                        password = document.getElementById('confirm-password')
                        confirm_password = document.getElementById('password')
                        if (password.value != confirm_password.value ) {
                            confirm('Password and re-entered password are not matching!')
                            password.value = ''
                        }
                    }
                </script>
                <div class="input-main" style="margin-top: 10px;">
                    <input class="input file" type="file" accept=".jpg, .jpeg, .png" name="dp" placeholder=" " >
                    <label class="placeholder">Profile pic (optional)</label>
                </div>
                <button class="submit" type="submit">Create account</button>
        </form>
    </div>
    {% endblock %}