<!DOCTYPE html>
<head>
    <title>Musica</title>
    <style>
        h1 {
            text-align: center;
        }
    </style>
    <script>
        function updateFileName(event) {
            const input = event.target;
            const fileName = input.files[0].name;
            document.getElementById('newName').value = fileName;
        }
    </script>
</head>
<body>
    <h1>Add music</h1>
    <p>Fill the form and submit to upload song.</p>
    <form action="/add_file" method="post" enctype="multipart/form-data">
        <lable for="file">Select song to upload * :</lable>
        <input type="file" name="file" accept=".mp3" required onchange="updateFileName(event)">
        <br>
        <label for="newName">Edit upload song name (optional) :</label>
        <input type="text" name="newName" id="newName">
        <br>
        <label for="lyrics">Enter song lyrics (optional) :</label>
        <textarea id="lyrics" rows="6" cols="60"></textarea>
        <br><br>
        <input type="submit" value="Upload">
    </form>
</body>
<footer></footer>