<!DOCTYPE html>
<head>
    <title>Musica</title>
    <style>
        .button-link {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            color: #fff;
            background-color: #007BFF; /* Button color */
            border: none;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <h1>Musica</h1>
    <p>Welcome to Musica!</p>
    <a href="add_file" class="button-link">Add music</a>
    <a href="play" class="button-link">Play music</a>
</body>
<footer></footer>