<!DOCTYPE html>
<html>
<head>
    <title>Audio test</title>
</head>
<body>
    {% for song in paths %}
    <audio src="{{ url_for('play_music', filename=song) }}" type="audio/mpeg" controls controllist="nodownload"></audio>
    <br>
    {% endfor %}

    <script>
        var audioElements = document.querySelectorAll('audio');

        audioElements.forEach(function(audioElement) {
            audioElement.addEventListener('play', function() {
                pauseOtherAudio(audioElement);
            });
        });

        function pauseOtherAudio(currentAudioElement) {
            audioElements.forEach(function(audioElement) {
                if (audioElement !== currentAudioElement && !audioElement.paused && !audioElement.ended) {
                    audioElement.pause();
                    audioElement.currentTime = 0;
                }
            });
        }
    </script>
</body>
</html>
