.heading {
    display: flex; justify-content:space-between; padding: 6px;
}
#filter-form {
    visibility: hidden;
    position: fixed;
    z-index: 10; width: 100%; height: 100%;
    top: 0;
    display: flex; flex-direction: column;
    align-items: center; justify-content: center; gap: 10px;
    background-color: violet;
}

/** albums container and albums **/
.albums-container {
    background-color: rgb(233, 233, 252);
    padding: 6px; border-radius: 9px;
    display: grid; gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.album {
    background-color: rgb(182, 182, 255);
    border-radius: 9px; padding: 10px 0px; height: 290px;
    display: flex; flex-direction: column; align-items: center;
    overflow: auto;

}
.album .album-cover {
    object-fit:cover; width: 180px; height: 180px;
}
.album.create {
    background-color: rgb(255, 206, 206);
}