.heading {
    display: flex; justify-content:space-between; padding: 6px;
}

/** albums container and albums **/
.albums-container {
    background-color: rgb(233, 233, 252);
    padding: 6px; border-radius: 9px;
    display: grid; gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    min-height: calc(100% - 60px); padding-bottom: 100px;
}
.album {
    background-color: rgb(182, 182, 255);
    border-radius: 9px; padding: 10px 0px; height: 290px;
    display: flex; flex-direction: column; align-items: center;
    overflow: auto;

}
.album .album-cover {
    object-fit:cover; width: 180px; height: 180px;
}
.album.create {
    background-color: rgb(255, 206, 206);
}