* {
    box-sizing: border-box;
    padding: 0; margin: 0;
}
a.normal {
    text-decoration: none;
    color: black;
}
.noSelect {
    user-select: none;
}
/** header styling................. **/
header {
    background-color: rgb(147, 148, 250);
    display: flex; align-items: center;
    width: 100%; height: 60px;
    position: fixed; z-index: 6;
    left: 0; top: 0; right: 0; 
}
.main-logo {
    display: flex;
    align-items: center;
    width: 180px;
}
header .separator {
    width: 100%;
    padding: 0 10px 0 100px;
    display: flex; align-items: center;
    justify-content: space-between;
}
header form {
    width: 100%;
    display: flex;
}
header form input {
    width: 440px; height: 40px;
    padding-left: 10px;
    border-radius: 100px 0 0 100px;
    border: none;
}
header form button {
    width: 40px; height: 40px;
    border-radius: 0 100px 100px 0;
    border: none;
    background-color: white;
}
header .separator .profile img {
    width: 50px; height: 50px;
    border-radius: 100%;
    border-width: 5px;
    border-color: white;
    object-fit: cover;
}
#dropMenu {
    display: flex; align-items: center; gap: 10px;
    background-color: rgb(254, 177, 177);
    border-radius: 10px;
    padding: 3px 10px 3px 6px;
} #dropMenu:hover {cursor: pointer;}
#Menu {
    position: absolute;
    background-color: rgb(255, 133, 133);
    width: 100%;height: max-content;
    list-style: none;
    display: none; flex-direction: column; gap: 10px;
    padding: 10px 10px 10px 65px; border-radius: 0 0 10px 10px;
}
#dropMenu:hover + #Menu, #Menu:hover {
    display: flex;
}
#Menu .logout a {
    display: flex; align-items: center;
}
/* aside styling.................. */
aside {
    height: calc(100%-60px); width: 90px;
    position: fixed; padding-top: 60px;
    left: 0; bottom: 0; top: 0;
    background-color: rgb(147, 148, 250);
    list-style: none;
    display: flex; flex-direction: column;
    justify-content: space-evenly;
}
aside li a {
    display: flex; flex-direction: column; align-items: center;
}
aside .currentPage {
    border-left: 10px solid white; padding-left: 10px;
}
/** main styling................................... **/
main {
    position: fixed; bottom: 0; right: 0;
    width: calc(100% - 90px); height: calc(100% - 60px);
    overflow: auto; overflow-x: hidden;
}