{% extends "admin/base.html" %}
{% block content %}

<style>
.heading div:nth-child(1) {
    padding: 6px; height: 40px; align-items: center;
    display: flex; justify-content: space-between; 
}
.main-body {
    min-height: calc(100% - 40px);
    padding: 20px 30px;
    background-color: rgb(159, 146, 146);
}
.wide-bar {
    width: 100%; height: max-content; padding: 30px; background-color: rgb(203, 203, 203);
    display: flex; justify-content: space-evenly; border-radius: 9px; margin-bottom: 30px;
}
.sub-item {
    display: flex; flex-direction: column;
}
.sub-item h3:nth-child(2) {
    text-align: center;
}
</style>

<div class="heading">
    <div>
        <h1>Admin Dashboard</h1>
        <a class="button" href="#"></a>
    </div>
</div>

<div class="main-body">
    <h2 style="padding-bottom: 3px;">Users details</h2>
    <div class="wide-bar">
        <div class="sub-item">
            <h3>No of all users: {{count['total_users']}}</h3>
            <h3>Premium: {{count['premium']}}, Basic: {{count['basic']}}</h3>
        </div>
        <div class="sub-item">
            <h3>Total user roles</h3>
            <h3>{{count['users']}}</h3>
        </div>
        <div class="sub-item">
            <h3>Total creators: {{count['creators']}}</h3>
            <h3>Blacklisted: {{count['blacklist']}}</h3>
        </div>
        <div class="sub-item">
            <h3>Total admins</h3>
            <h3>{{count['admins']}}</h3>
        </div>
    </div>
    <h2 style="padding-bottom: 3px;">Songs and albums details</h2>
    <div class="wide-bar">
        <div class="sub-item">
            <h3>Total song uploads</h3>
            <h3>{{count['songs']}}</h3>
        </div>
        <div class="sub-item">
            <h3>Flagged songs</h3>
            <h3>{{count['flagged_songs']}}</h3>
        </div>
        <div class="sub-item">
            <h3>Total albums</h3>
            <h3>{{count['albums']}}</h3>
        </div>
        <div class="sub-item">
            <h3>Flagged albums</h3>
            <h3>{{count['flagged_albums']}}</h3>
        </div>
    </div>
    <style>
        .songs {
            min-height: 30px; max-height: max-content; padding: 10px; background-color: rgb(230, 230, 230);
        }
        .song-item {
            display: flex; align-items: center; justify-content: space-evenly;
            background-color: white; padding: 6px; border-radius: 6px; margin: 3px 6px;
        }
        .song-cover-small, .song-cover-small img {
            width: 60px; height: 60px; object-fit: cover;
            border-radius: 10px;
        }
        .song-item .song-like, .song-item .song-like img {
            width: 40px; height: 40px;
        }
        .song-item .song-title {
            width: 30%;
        }
        .song-item .song-artist {
            width: 30%;
        }
    </style>
    <div class="songs">
        <h2 style="padding-bottom: 3px;">Top 3 most played songs</h2>
        {% if popular %}
            {% for song in popular %}
                <a class="normal song-item" href="/songs/{{song.id}}">
                    <h2>{{ loop.index }}</h1>
                    <div class="song-cover-small">
                        {% if song.cover %} <img src="{{url_for('static',filename='uploads/images/song_covers/')}}{{song.cover}}"> {% else %} <img src="{{url_for('static',filename='images/default_song.png')}}"> {% endif %}
                    </div>
                    <div class="song-title"><h3>{{song.title}}</h3></div>
                    <div class="song-artist"><h3>{{song.artist}}</h3></div>
                    <div class="song-like"><img src={% if has_user_liked(current_user, song) %}"{{url_for('static',filename='images/liked.png')}}"{% else %}"{{url_for('static',filename='images/not_liked.png')}}"{% endif %}></div>
                </a>
            {% endfor %}
        {% else %}
            <h3 style="padding-left: 6px;">No songs to show</h2>
        {% endif %}
    </div>
</div>

{% endblock %}