{% extends "admin/base.html" %}
{% block content %}

<style>
.heading div:nth-child(1) {
    padding: 6px; height: 40px; align-items: center;
    display: flex; justify-content: space-between; 
}
.heading form {
    display: flex;
}
input {
    padding: 3px;
}
.button {
    background-color: red; color: white; border-radius: 6px;
    padding: 3px; text-decoration: none; user-select: none;
}
.main-body {
    min-height: calc(100% - 40px);
    padding: 20px 30px;
    background-color: rgb(159, 146, 146);
}
.main-body {
    display: flex; flex-direction: column; align-items: center;
}
table {
    width: 100%;
}
table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.serialno {
    width: 10%; text-align: center;
}
.userid {
    width: 30%; padding-left: 3px;
    overflow: auto;
}
.transactionid {
    width: 30%; padding-left: 3px;
    overflow: auto;
}
.action {
    display: flex; justify-content: space-evenly; flex-wrap: wrap;
}
</style>

<div class="heading">
    <div>
        <h1>Premium requests</h1>
        <form action="/admin/premium_requests" method="post">
            <input type="text" name="user_id" placeholder="User email id" required>
            <input type="submit" value="Search">
        </form>
    </div>
</div>
<div class="main-body">
    {% if filter %}<h2 style="padding-bottom: 10px;">Results for given user id</h2>{% endif %}
    <table class="main-table">
        <tr>
            <td class="serialno">Sl. no.</td>
            <td class="userid" style="text-align: center;">User email id</td>
            <td class="transactionid" style="text-align: center;">Transaction id</td>
            <td class="action">Action to take</td>
        </tr>
    {% if requests %}
        {% for request in requests %}
            <tr {% if loop.index%2!=0 %} style="background-color: white;" {% else %} style="background-color: rgb(206, 206, 206);" {% endif %}>
                <td class="serialno">{{loop.index}}</td>
                <td class="userid">{{request.user_id}}</td>
                <td class="transactionid">{{request.trans_id}}</td>
                <td class="action"><a class="button" href="/admin/premium_requests/{{request.id}}/accept">Accept</a><a class="button" href="/admin/premium_requests/{{request.id}}/reject">Reject</a></td>
            </tr>
        {% endfor %}
    {% else %}
    </table>
        {% if not filter %}<h3 style="padding-top: 10px;">No new requests yet!</h3>{% else %}<h3 style="padding-top: 10px;">No results found!</h3>{% endif %}
    {% endif %}
</div>

{% endblock %}